:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background: var(--bg-main);
  font-family: var(--font-main);
}

img {
  border-radius: 10px;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}
